.header {
    height: 40px;
    width: 200px;
    display: block;
    position: relative;
    background-color: blue;
    margin: 10px auto;
    /* left: 45%; */


}
.container {
    height: 493px;
    width: 500px;  
    display: inline-block;
    position: relative;
    margin: auto 101px;
    background-color: black;
}

.box {
    display: inline-block;
    height: 160px;
    width: 160px;
    text-align: center;
    border: solid black 1px;
    font-size: 110px;
    margin: 1px;
}

.box button {
    font-size: 110px;
    width: 160px;
    height: 160px;
    background-color: white;
    color: transparent;
}
.scoreDisplay1 {
    float: left;
    border: solid black 3px;
    background-color:black;
    margin-right: 100px;
    position: relative;
    top: 50px;
    width: 300px;
    height: 128px;
    display: block;
}
.scoreDisplay2 {
    float: right;
    border: solid black 3px;
    background-color:black;
    margin-left: 100px;
    position: relative;
    top: 50px;
    width: 300px;
    height: 128px;
    display: block;
}
.score {
    position: relative;
    top: 7px;
    background-color: #e48e8e;
    height: 60px;
    width: 100%;
    font-size: 40px;

}
.names {
    position: relative;
    
    top: 0px;
    background-color:#35d0e4;
    height: 60px;
    width: 100%;
    font-size: 40px;

}