.header {
    height: 40px;
    width: 100px;
    display: block;
    position: relative;
    background-color: blue;
    margin: 10px;
    left: 45%;

}
.container {
    height: 493px;
    width: 500px;  
    display: inline-block;
    position: relative;
    margin: auto auto;
    background-color: black;
}

.box {
    display: inline-block;
    height: 160px;
    width: 160px;
    text-align: center;
    border: solid black 1px;
    font-size: 110px;
    margin: 1px;
}

.box button {
    font-size: 110px;
    width: 160px;
    height: 160px;
    background-color: white;
}
.scoreDisplay {
    float: left;
    background-color: grey;
    margin-right: 100px;
    position: relative;
    top: 50px;
    width: 300px;
    height: 200px;
    display: block;
}
.score {
    position: relative;
    top: 80px;
    background-color: red;
    height: 30px;
    width: 100px;
    font-size: 40px;

}
.names {
    position: relative;
    margin: 0px;
    top: 0px;
    background-color: blue;
    height: 50px;
    width: 100%;
    font-size: 40px;

}